<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.body %></td>
    <td><%= blog.author %></td>
   
    <% if user_signed_in? %>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(@blogs) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to "New Blog", new_blog_path %></td>
    <% else %>
    <td><%= link_to 'Show', blog %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />


