<!DOCTYPE html>
<html>
<head>
  <title>Blogapp</title>
  <%= stylesheet_link_tag %>
  <%= javascript_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>
<%= link_to "Blog", blogs_path %>

<% if user_signed_in? %>
<%= link_to "New Blog", new_blog_path %>
<%= link_to "Account", edit_user_registration_path%>
<%= link_to "Sign Out", destroy_user_session_path %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
